image: gitlab.hoztnode.net:4598/rnd/cloru/cloapi-go-client/golang:latest

stages:
  - test

test:
  stage: test
  script:
    - go fmt $(go list ./... | grep -v /vendor/)
    - go vet $(go list ./... | grep -v /vendor/)
    - go test -race -v -cover -coverprofile=profile.cov $(go list ./... | grep -v /vendor/)
    - go tool cover -func profile.cov
  coverage:  '/\(statements\)(?:\s+)?(\d+(?:\.\d+)?%)/'